<footer class="footer has-background-dark has-text-white-ter">
  <div class="content has-text-centered">
    <p>
      &copy; <%= Date.today.year %> ProjectManager  - Todos os direitos reservados <br>
      Desenvolvido por <strong class="has-text-danger">Hendrew Hélio</strong>
    </p>
  </div>
</footer>
