<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, alt: 'project manager', class: 'navbar-item' do %>
      <h1 class="title logo has-text-white-ter has-text-weight-normal">Project<span class="has-text-weight-medium">Manager</span></h1>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <% if user_signed_in? %>
    <div class="navbar-start">
      <%= link_to 'Projetos', projects_path, alt: 'projetos', class: 'navbar-item' %>
    </div>
    <div class="navbar-end">
      <%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_registration_path, alt: 'editar perfil', class: 'navbar-item' %>
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to 'Sair', destroy_user_session_path, alt: 'sair', class: 'button is-light', method: :delete %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to new_user_registration_path, alt: 'registrar-se', class: 'button is-primary' do %>
          <strong>Registrar-se</strong>
          <% end %>
          <%= link_to new_user_session_path, alt: 'entrar', class: 'button is-light' do %>
          <strong>Entrar</strong>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</nav>
