<% content_for :page_title, "#{page} Tarefa" %>

<div class="container">
  <div class="columns">
    <div class="column is-5">
      <h2 class="title is-2 has-text-weight-light"><%= page %> Tarefa</h2>
      <h4 class="title is-4 has-text-grey-light"><%= @project.title %></h4>
    </div>
    <div class="column is-7 has-text-right">
      <%= link_to 'Voltar', project_tasks_path(@project), alt: 'voltar', class: 'button is-light' %>
    </div>
  </div>
  <hr>
  <br>

  <%= render partial: 'shared/flash' %>

  <% if @task.errors.any? %>
  <div class="notification is-danger">
    <h3 class="title is-4">
      <%= pluralize(@task.errors.count, 'erro', 'erros') %>
      <%= @task.errors.count > 1 ? 'proibiram' : 'proibiu' %> esta tarefa de ser salva:
    </h3>

    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="box">
    <%= form_with model: [@project, @task], local: true do |f| %>
      <div class="field">
        <%= f.label :description, class: 'label' %>
        <div class="control">
          <%= f.text_field :description, autofocus: true, autocomplete: 'description', class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= f.label :status, class: 'label' %>
        <div class="control">
          <div class="select">
            <%= f.select(:status, [['Não Iniciado', 1], ['Iniciado', 2], ['Finalizado', 3]]) %>
          </div>
        </div>
      </div>

      <br>

      <%= f.submit nil, class: 'button is-primary' %>
      <%= button_tag 'Resetar', type: :reset, class: 'button is-light' %>
    <% end %>
  </div>
</div>
