<% content_for :page_title, "Tarefas" %>

<div class="container">
  <div class="columns">
    <div class="column is-9">
      <h2 class="title is-2 has-text-weight-light"><%= @project.title %></h2>
      <h2 class="title is-4 has-text-grey-light">Tarefas</h2>
    </div>

    <div class="column is-3 has-text-right">
      <%= link_to 'Voltar', projects_path, alt: 'voltar', class: 'button is-light' %>
      <%= link_to 'Nova', new_project_task_path, alt: 'nova', class: 'button is-primary' %>
    </div>
  </div>

  <hr>
  <br>

  <%= render partial: 'shared/flash' %>

  <div class="table-responsive">
    <table class="table is-bordered is-fullwidth table-vertical-align-center">
      <thead>
        <tr>
          <th>#</th> <th>Descrição</th> <th>Status</th> <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= task.description %></td>

          <td>
          <% if task.status == 1 %>
            <span class="has-background-danger has-text-white">Não iniciado</span>
          <% elsif task.status == 2 %>
            <span class="has-background-warning">Iniciado</span>
          <% elsif task.status == 3 %>
            <span class="has-background-success has-text-white">Finalizado</span>
          <% end %>
          </td>

          <td>
            <%= link_to 'Editar', edit_project_task_path(@project, task), alt: 'editar', class: 'button is-warning', title: 'Editar' %>
            <%= link_to 'Excluir', project_task_path(@project, task), method: :delete, data: { confirm: 'Você tem certeza?' }, alt: 'excluir', class: 'button is-danger', title: 'Excluir' %>
          </td>
        </tr>
        <% end %>

        <% if @tasks.length == 0 %>
        <tr>
          <td colspan="4">Nenhuma tarefa encontrada.</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
