<% content_for :page_title, 'Faça seu login' %>

<div class="container">
  <h2 class="title is-2 has-text-weight-light">Faça seu login</h2>
  <hr>
  <br>

  <%= render partial: 'shared/flash' %>

  <div class="columns">
    <div class="column is-6 is-offset-3">
      <div class="box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :nickname, class: 'label' %>
            <div class="control">
              <%= f.text_field :nickname, autofocus: true, autocomplete: 'email', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password, class: 'label' %>
            <div class="control">
              <%= f.password_field :password, autocomplete: 'current-password', class: 'input' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, 'Lembrar-me' %>
            </div>
          <% end %>

          <hr>

          <div class="actions">
            <%= f.submit 'Entrar', class: 'button is-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
