<% content_for :page_title, "#{page} Projeto" %>

<div class="container">
  <div class="columns">
    <div class="column is-5">
      <h2 class="title is-2 has-text-weight-light"><%= page %> Projeto</h2>
    </div>
    <div class="column is-7 has-text-right">
      <%= link_to 'Voltar', projects_path, alt: 'voltar', class: 'button is-light' %>
    </div>
  </div>
  <hr>
  <br>

  <%= render partial: 'shared/flash' %>

  <% if @project.errors.any? %>
  <div class="notification is-danger">
    <h3 class="title is-4">
      <%= pluralize(@project.errors.count, 'erro', 'erros') %>
      <%= @project.errors.count > 1 ? 'proibiram' : 'proibiu' %> este projeto de ser salvo:
    </h3>

    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="box">
    <%= form_with model: [@project], local: true do |f| %>
      <div class="field">
        <%= f.label :title, class: 'label' %>
        <div class="control">
          <%= f.text_field :title, autofocus: true, autocomplete: 'title', class: 'input' %>
        </div>
      </div>

      <br>

      <%= f.submit nil, class: 'button is-primary' %>
      <%= button_tag 'Resetar', type: :reset, class: 'button is-light' %>
    <% end %>
  </div>
</div>
