<% content_for :page_title, "Projetos" %>

<div class="container">
  <div class="columns">
    <div class="column is-3">
      <h2 class="title is-2 has-text-weight-light">Projetos</h2>
    </div>

    <div class="column is-9 has-text-right">
      <%= link_to 'Novo', new_project_path, alt: 'novo', class: 'button is-primary' %>
    </div>
  </div>

  <hr>
  <br>

  <%= render partial: 'shared/flash' %>

  <div class="table-responsive">
    <table class="table is-bordered is-fullwidth table-vertical-align-center">
      <thead>
        <tr>
          <th>#</th> <th>Título</th> <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td><%= project.id %></td>
          <td><%= project.title %></td>
          <td>
            <%= link_to 'Tarefas', project_tasks_path(project), alt: 'tarefas', class: 'button is-info', title: 'Tarefas' %>
            <%= link_to 'Editar', edit_project_path(project), alt: 'editar', class: 'button is-warning', title: 'Editar' %>

            <%= link_to 'Excluir', project_path(project), method: :delete, data: { confirm: 'Você tem certeza?' }, alt: 'excluir', class: 'button is-danger', title: 'Excluir' %>
          </td>
        </tr>
        <% end %>

        <% if @projects.length == 0 %>
        <tr>
          <td colspan="3">Nenhum projeto encontrado.</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
