@import "../../../node_modules/bulma/bulma.sass";

html, body {
  background-color: #363636;

  section {
    background-color: $white;

    .field {
      .is_required::after {
        content: " *";
        color: red;
      }
    }

    .table {
      tbody {
        tr {
          td {
            vertical-align: middle;
          }
        }
      }
    }
  }
}
