<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/shared/header' %>
    <section class="section">
      <%= yield %>
    </section>
    <%= render partial: 'layouts/shared/footer' %>
  </body>
</html>
