<% content_for :page_title, 'Editar Perfil' %>

<div class="container">
  <h2 class="title is-2 has-text-weight-light">Editar Perfil</h2>
  <hr>
  <br>

  <%= render partial: 'shared/flash' %>
  <%= render partial: 'users/shared/error_messages', resource: resource %>

  <div class="notification is-warning">
    <h3 class="title is-3 has-text-weight-normal">Atenção</h3>
    <ul>
      <li>Caso não queira criar uma <strong>nova senha</strong>, deixe o campo em branco</li>
      <li>Sua nova senha irá precisar ter no mínimo 6 caracteres</li>
      <li>Você precisa informar sua <strong>senha atual</strong> para a confirmação dos dados</li>
    </ul>
  </div>

  <div class="columns">
    <div class="column is-6 is-offset-3">
      <div class="box">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="field">
            <%= f.label :first_name, class: 'label' %>
            <div class="control">
              <%= f.text_field :first_name, autofocus: true, autocomplete: 'first_name', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :last_name, class: 'label' %>
            <div class="control">
              <%= f.text_field :last_name, autocomplete: 'last_name', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :nickname, class: 'label' %>
            <div class="control">
              <%= f.text_field :nickname, autocomplete: 'nickname', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :email, class: 'label' %>
            <div class="control">
              <%= f.email_field :email, autocomplete: 'email', class: 'input' %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password, class: 'label' %>
            <div class="control">
              <%= f.password_field :password, autocomplete: 'new-password', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: 'label' %>
            <div class="control">
              <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :current_password, class: 'label' %>
            <div class="control">
              <%= f.password_field :current_password, autocomplete: 'current-password', class: 'input' %>
            </div>
          </div>

          <hr>

          <div class="actions">
            <%= f.submit 'Atualizar', class: 'button is-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="box">
    <h3 class="title is-3">Cancelar minha conta</h3>

    <div class="content">
      <p>
        Infeliz?

        <%= button_to 'Cancelar minha conta', registration_path(resource_name), data: { confirm: 'Você tem certeza?' }, method: :delete, class: 'button is-danger' %>
      </p>
    </div>
  </div>

</div>
