<% content_for :page_title, 'Faça seu cadastro' %>

<div class="container">
  <h2 class="title is-2 has-text-weight-light">Faça seu cadastro</h2>
  <hr>
  <br>

  <%= render partial: 'shared/flash' %>
  <%= render partial: 'users/shared/error_messages', resource: resource %>

  <div class="columns">
    <div class="column is-6 is-offset-3">
      <div class="box">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :first_name, class: 'label is_required' %>
            <div class="control">
              <%= f.text_field :first_name, autofocus: true, autocomplete: 'first_name', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :last_name, class: 'label is_required' %>
            <div class="control">
              <%= f.text_field :last_name, autocomplete: 'last_name', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :nickname, class: 'label is_required' %>
            <div class="control">
              <%= f.text_field :nickname, autocomplete: 'nickname', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :email, class: 'label is_required' %>
            <div class="control">
              <%= f.email_field :email, autocomplete: 'email', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password, class: 'label is_required' %>
            <div class="control">
              <%= f.password_field :password, autocomplete: 'new-password', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: 'label is_required' %>
            <div class="control">
              <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input' %>
            </div>
          </div>

          <hr>

          <div class="actions">
            <%= f.submit 'Salvar', class: 'button is-primary has-text-weight-bold' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
